@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<div class="row clearfix">
    <div class="col-12">
        <form method="POST" id="form-dang-tin" autocomplete="on">
            <section class="card card-fluid">
                <div class="card-header">
                    <div class="d-inline-block w-100">
                        <button type="submit" name="dangtin" class="btn btn-sm btn-primary float-right">Tạo mới</button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group row justify-content-center">
                        <div class="col-lg-3 mt-2">
                            <b class="col-form-label">Nhân viên:</b>
                            <div class="pt-1">
                                @Html.DropDownList("employee_id", (IEnumerable<SelectListItem>)ViewData["employee"], new {
                                data_placeholder = "Select",@class="chosen form-control form-control-sm",@required="true" })
                            </div>
                        </div>
                        <div class="col-lg-9 mt-2">
                            <b class="col-form-label">Loại:</b>
                            <div class="pt-1">
                                <div class="form-check-inline my-1">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio7" name="type" class="custom-control-input" checked value="1">
                                        <label class="custom-control-label" for="customRadio7">Nhân viên mới</label>
                                    </div>
                                </div>
                                <div class="form-check-inline my-1">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio8" name="type" class="custom-control-input" value="2">
                                        <label class="custom-control-label" for="customRadio8">Trở lại sau thời gian dài vắng mặt</label>
                                    </div>
                                </div>
                                <div class="form-check-inline my-1">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio9" name="type" class="custom-control-input" value="3">
                                        <label class="custom-control-label" for="customRadio9">Thay đổi vị trí công việc</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-2">
                            <b class="col-form-label"></b>
                            <div class="pt-1">
                                <div id="repeater-content">
                                    <div class="row mb-2">
                                        <div class="col-4">
                                            <b>Nội dung huấn luyện</b>
                                        </div>
                                        <div class="col-1">
                                            <b>Ấn bản</b>
                                        </div>
                                        <div class="col-2">
                                            <b>Phương pháp đánh giá</b>
                                        </div>
                                        <div class="col-2">
                                            <b>Thời gian huấn luyện dự kiến</b>
                                        </div>
                                        <div class="col-2">
                                            <b>Thời gian huấn luyện thực tế</b>
                                        </div>
                                        <div class="col-1">
                                        </div>
                                    </div>
                                </div> <!--end repeter-->
                                <div class="form-group row mb-0">
                                    <div class="col-sm-12">
                                        <button class="btn btn-gradient-secondary btn-sm add_content">
                                            <span class="fa fa-plus"></span> Add
                                        </button>
                                    </div><!--end col-->
                                </div><!--end row-->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </form>
    </div>
</div>


<template id="template_content">
    <div class="row mb-2 content">
        <div class="col-4">
            @Html.DropDownList("procedure_id[]", (IEnumerable<SelectListItem>)ViewData["sops"], new {data_placeholder = "Chọn SOP",@class="chosen form-control form-control-sm procedure_id" })
        </div>
        <div class="col-1">
            <select name="procedure_version_id[]" class="form-control form-control-sm procedure_version_id ">
            </select>
        </div>
        <div class="col-2">
            <select class="chosen form-control form-control-sm" name="type_train[]">
                <option value="1">Hỏi - đáp</option>
                <option value="2">Đào tạo thực tế</option>
            </select>
        </div>
        <div class="col-2">
            <input class="form-control form-control-sm" name="date_theory[]" placeholder="Thời gian huấn luyện dự kiến" type="date" />
        </div>
        <div class="col-2">
            <input class="form-control form-control-sm" name="date_reality[]" placeholder="Thời gian huấn luyện thực tế" type="date" />
        </div>
        <div class="col-1">
            <span class="btn btn-gradient-danger btn-sm delete">
                <span class="far fa-trash-alt mr-1"></span> Xóa
            </span>
        </div>
    </div>
</template>
@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
<script>

    function add_content(item) {
        var template = $("#template_content").html();
        var rendered = Mustache.render(template, item);
        var el = $(rendered);
        $("#repeater-content").append(el);
        fillForm(el,item);
        return el;
    }
    $(document).ready(function () {
        $(".add_content").click(function (e) {
            e.preventDefault();
            var item = { id: 0 };
            var el = add_content(item);
            $(".procedure_id",el).trigger("change");
        });
        $(document).on("click",".delete",function(){
            $(this).parents(".content").remove();
        });
        $(document).on("change",".procedure_id",async function(){
            var val = $(this).val();
            let response = await $.ajax({
                url:"/admin/procedure/get",
                data:{
                    id:val
                },
                type:"POST",
                dataType:"JSON",
            });
            var procedure = response.procedure;
            var version = procedure.versions;
            var content = $(this).closest(".content");
            var html = "";
            var selected = 0;
            for(let item of version){
                html += "<option value='"+item.id+"'>"+item.version+"</option>";
                selected = item.id;
            }
            $(".procedure_version_id",content).html(html).val(selected);
        });
        $("[name='employee_id']").change(async function(){
            var val = $(this).val();
            let response = await $.ajax({
                url:"/admin/employee/getprocedurebyemployee",
                data:{
                    employee_id:val
                },
                type:"POST",
                dataType:"JSON"
            })
            var items = response.items;
            $(".content").remove();
            for(var item of items){
                var key = item.key;
                var current_date = moment().format("YYYY-MM-DD")
                var item = { procedure_id: key,date_theory:current_date };
               
                var el = add_content(item);
                $(".procedure_id",el).trigger("change");
            }
        }).trigger("change");

    })
</script>
}
