@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<div class="row clearfix">
    <div class="col-12">
        <form method="POST" id="form-dang-tin" autocomplete="on">
            <section class="card card-fluid">
                <div class="card-header">
                    <div class="d-inline-block w-100">
                        <button type="submit" name="dangtin" class="btn btn-sm btn-primary float-right">Tạo mới</button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group row justify-content-center">
                        <div class="col-lg-3 mt-2">
                            <b class="col-form-label">Mã số tài liệu:</b>
                            <div class="pt-1">
                                <input class="form-control form-control-sm" name="code" type="text" placeholder="Mã số tài liệu" required />
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </form>
    </div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}

}
